.header-menu {
    visibility: hidden;
}

.header-links {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

@media screen and (max-width: 1200px){
   body {
   max-width: 1200px;
   }

   .main-creations {
    grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width: 900px){
    body {
        max-width: 900px;
        width: 100%;
        background-image: no repeat url(../images/mobile/image-hero.jpg);
    }

    .header {
        width: 100%;
        height: 100%;
        padding-bottom: 6rem;

        &-navbar {
            position: relative;
        }

        
        &-menu {
            position: absolute;
            top: 5px;
            right: 10px;
            visibility: visible;
        }

        &-links {
            visibility: hidden;
        }


        &-box {
            width: 100%;
            font-size: 1rem;
        }
        
     }

     .header-box p {
        font-size: 3rem;
     }

     .main {


     &-cont-upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 6rem 1rem 5rem;
        margin-bottom: 0rem;
        text-align: center;
    }

    &-img {
        position:initial
    }

    &-text {
        position: initial;
        width: 100%;
    }

    & h1 {
        margin-bottom: 1rem;
    }

    &-cont-lower {
        padding: 0rem 3rem 2rem 3rem;
        position: relative;
    }

    .btn {
        position: absolute;
        bottom: 0;
        margin: 0 4rem 1rem 4rem;
    }

    &-title {
        justify-content: center;
    }

    &-creations {
        grid-template-columns: repeat(2, 1fr);
    }

     }

     .main-card {
        position: relative;
        margin-bottom: 2rem;
    
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 85%;
            background-color: rgba(250,250,250,0.5);
            top: 0;
            left: 0;
            transition: transform .5s ease-in-out;
            transform-origin: left;
            transform: scaleX(0);
        }

 }

 .footer {
    height: 600px;
    width: 100%;

    &-first, &-second {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-cont {
        position: relative;
    }

    &-icons {
        position: absolute;
        bottom: 100px;
        padding-right: 10px;
    }

    &-links {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        margin: 2rem;
    }
 }

 .footer-copy {
    margin-top: 5rem;
 }
}
